/* NAVBAR AND HEADER */

* {
    /* border: 1px solid aliceblue; */
} 
:root {
    --primary-100:#0085ff;
    --primary-200:#69b4ff;
    --primary-300:#e0ffff;
    --accent-100:#006fff;
    --accent-200:#e1ffff;
    --accent-300:#c5da3f;
    --text-100: #f0f8ff;
    --text-200:#9e9e9e;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
    --black: #000000;
}
html,
body {
    height: 120%;
    width: 100%;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #222831;
    color: var(--text-100);
}
.biolink_logo{
    margin-top: 42px;
    border: 2px solid var(--text-100);
    color: var(--accent-100);
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: 900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.logo_top {
    gap: 0px;
    width: fit-content;
}
.logo_bottom {
    padding-left: 55px;
    margin-top: -35px
}
/* ///////////////////////////navbar */
hr { height: 5px;}
#navBar {
    display:flex;
    padding: 1em 6.5em 1em;
}
#logo,
.card-info {
    font-weight: 900;
    font-size: 30px;
}
#links {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    
}
.nav-link:hover {
    /* background-color:#892CDC;; */
    box-shadow: 0 0 24px 1px var(--primary-100);
}
.nav-link:hover {
    color: #D6C6E1;
}
.leftLink {
    margin-left: auto;
    margin-right: 2em;
}
.bgIMG {
    /* background-image: url("../images/banner.JPG"); */
}
#headerContainer {
    background-color: var(--black);
    display: flex;
    /* justify-content: center; */
    align-self: center;
    align-items: center;
    padding: 2em 2em;
    width: 100%;
}
#header-txt {
    width: 50%;
}
.header-image,
.header-bttn {
    border-radius: 15px;
}
#header-txt,
.header-image {
    margin-left: auto;
}
.header-image{
    border: 5px solid aliceblue;
    box-shadow: 10px 5px 5px #892CDC;    
    width: 300px;
}
.header-image:hover{
    
}

/* CARDS CONTAINER */

#cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    /* height: 200%; */
    flex-grow: 2;
}
.card-info {
    text-align: center;
}
#cards {
    display: flex;
    gap: 2pc;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.card-txt {
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: aliceblue
}
#card,
.card-image {
    height: 80px;
    width: 80px;
    border-radius: 15px 35px;
    box-shadow: 0 0 24px 1px black;
    /* border: 1px solid white */
}
.card-image:hover {
    border-radius: 35px 15px;
    box-shadow: 0 0 24px 1px #892CDC;
}

/* About Section */
#footerContainer {
 display: flex;
 justify-content: center; 
 /* padding: 8px; */
 background-color: #130d63;
 align-self: flex-end;
 height: fit-content;
}


