:root {
    --primary-100:#0085ff;
    --primary-200:#69b4ff;
    --primary-300:#e0ffff;
    --accent-100:#006fff;
    --accent-200:#e1ffff;
    --accent-300:#c5da3f;
    --text-100:#FFFFFF;
    --text-200:#9e9e9e;
    --bg-100:#1E1E1E;
    --bg-200:#2d2d2d;
    --bg-300:#454545;
    --black: #000000;
}

html {
    background-color: var(--accent-100);
    /* color: var() */
}
body {
    background: var(--bg-100);
}
a {
    text-decoration: none;
    color: var(--text-200);
}
a:visited {
    color: var(--text-200);
}

/* --------------------------------NAVBAR-------------------------*/
#nav-bar {
    border: 1px solid var(--black);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 2em;
    justify-content: space-between;
    align-items: center;
}
#nav-left-icons
,#nav-right-icons {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.nav_icons {
    /* border: 1px solid var(--yellow); */
    height: 75%;
    width: fit-content;
    margin: 0px 10px;
}
.nav_icons:hover {
    text-decoration: underline;
}
/* --------------------------------PAGE-------------------------*/
#page-container {
    border: 2px solid var(--black);

    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow: hidden;
}

#explore-bar {
    /* border: 1px solid var(--off-white); */
    display: flex;
    overflow: hidden;
    height: 5em;
    justify-content: space-between;
    align-items: center;
}
/* --------------------------------FEED-------------------------*/

#main-feed {
    /* border: 1px solid var(--red); */
    display: flex;
    flex-direction: column;
}

#feed-cards {
    /* border: 1px solid var(--yellow); */
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.cards {
    border: 3px solid var();
    width: 550px;
    height: fit-content;
    min-width: 10%;
    min-height: 175px;
    max-width: 550px;
    max-height: 275px;
    background-color: var(--off-white);
    display: flex;
}
.card_header {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 2;
}

.header_section {
    display: flex;
    border: 1px solid black;
}
.header_right {
    gap: 1em;
}
/* --------------------------------SIDEBAR-------------------------*/
#side-bar {
    border: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}