:root {
    --bio_link_blue: rgb(133, 133, 224);
    --black: rgb(0, 0, 0);
    --red: rgb(255, 0, 0);
    --yellow: rgb(255, 255, 0);
    --icon-blue: rgb(30, 30, 249);
    --off-white: rgb(133, 191, 241);
}

html {
    background-color: var(--bio_link_blue);
}
body {
    background: var(--off-white);
}
/* --------------------------------NAVBAR-------------------------*/
#nav-bar {
    border: 1px solid var(--black);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 2em;
    justify-content: space-between;
    align-items: center;
}
icons {
    background-color: var(--icon-blue);
    height: 75%;
    width: fit-content;
    margin: 0px 10px;
}
/* --------------------------------PAGE-------------------------*/
#page-container {
    border: 2px solid var(--black);

    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow: hidden;
}

#explore-bar {
    border: 1px solid var(--off-white);
    display: flex;
    overflow: hidden;
    height: 5em;
    justify-content: space-between;
    align-items: center;
}

#main-feed {
    border: 1px solid var(--red);
}
/* --------------------------------SIDEBAR-------------------------*/
#side-bar {
    border: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}