:root {
    --bio_link_blue: rgb(133, 133, 224);
    --black: rgb(0, 0, 0);
    --red: rgb(255, 0, 0);
    --green: rgb(46, 139, 87);
    --yellow: rgb(255, 255, 0);
    --icon-blue: rgb(30, 30, 249);
    --off-white: rgb(133, 191, 241);
}

html {
    background-color: var(--off-white);
    /* color: var() */
}
body {
    /* background: var(--off-white); */
}
/* --------------------------------NAVBAR-------------------------*/
#nav-bar {
    border: 1px solid var(--black);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 2em;
    justify-content: space-between;
    align-items: center;
}
#nav-left-icons
,#nav-right-icons {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.icons {
    /* border: 1px solid var(--yellow); */
    height: 75%;
    width: fit-content;
    margin: 0px 10px;
}
/* --------------------------------PAGE-------------------------*/
#page-container {
    border: 2px solid var(--black);

    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#page-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    overflow: hidden;
}

#explore-bar {
    border: 1px solid var(--off-white);
    display: flex;
    overflow: hidden;
    height: 5em;
    justify-content: space-between;
    align-items: center;
}
/* --------------------------------FEED-------------------------*/

#main-feed {
    /* border: 1px solid var(--red); */
    display: flex;
    flex-direction: column;
}

#feed-cards {
    border: 1px solid var(--yellow);
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}
.cards {
    border: 3px solid var(--green);
    width: 550px;
    height: fit-content;
    min-width: 10%;
    min-height: 175px;
    max-width: 550px;
    max-height: 275px;
    background-color: blueviolet;
    display: flex;
}
.card_header {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 2;
}

.header_section {
    display: flex;
    border: 1px solid black;
}
.header_right {
    gap: 1em;
}
/* --------------------------------SIDEBAR-------------------------*/
#side-bar {
    border: 2px solid var(--black);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}