<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | BioLink</title>

    <link rel="stylesheet" href="./about.css">
   
</head>
<body>
    <div id="navBar">
        <div id="links">
            <a class="nav-link leftLink about" 
                onclick="alert()">About</a>
            <a class="nav-link" 
            href="../../app/app.html" onclick="alert()">Home App</a>
        </div>
    </div>
    <div id="headerContainer" class="bgIMG">
        <div id="header-txt">
            <div id="logo">About BioLink</div><hr>
            <div style="font-size: 48px;">Welcome</div>
            <div>
                <p>BioLink is a blah blah blah, blah blah blah blah blah blah.
                    blah blah blahblah blah blah.
                </p>
            </div>
            <!-- <button class="header-bttn">Button</button>Do I need this? -->
            - Mike
        </div>
        <div class="biolink_logo">
            <div class="logo_top">Bio</div>
            <div class="logo_bottom">Link</div>
        </div>
    </div>
    <div>
        <div id="cardsContainer">
            <div class="card-info">
                Ready to learn more?<br>
                <p style="font-size: 8px;">[Click an explore tab below]</p></div>
            <div id="cards">
                <div class="card-txt"><a id="cardImage-bttn"href="html/turtlePage.html"><div id="card">
                        <img src="" alt="" class="card-image">
                    </div></a><br>
                    Who we are
                </div>
                <div class="card-txt"><a id="cardImage-bttn" onclick="alert()"><div id="card">
                    <img src="images/cardinalFlight.JPG" alt="" class="card-image">
                </div></a><br>
                Mission
                </div>
                <div class="card-txt"><a id="cardImage-bttn" onclick="alert()"><div id="card">
                    <img src="" alt="" class="card-image">
                </div></a><br>
                Goals
                </div>
                <div class="card-txt"><a id="cardImage-bttn" onclick="alert()"><div id="card">
                    <img src="" alt="" class="card-image">
                </div></a><br>
                Affiliates
                </div>
                <div class="card-txt"><a id="cardImage-bttn" onclick="alert()"><div id="card">
                    <img src="" alt="" class="card-image">
                </div></a><br>
                ?
                </div>
            </div>
        </div>
        <div id="footerContainer">
            <p>Mike Cuesta @ <a href="https://github.com/CodeWithCuesta">CodeWithCusta</a></p>
        </div>
    </div>
    <script src="./about.js" defer></script>
    <Script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>